@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  font-family: "Roboto", sans-serif;
  background: #eceff1;
}

header {
  z-index: 1;
  position: relative;
}

header .container-fluid {
  background: white;
  border-radius: 0 0 10px 10px;
}

header .header-container {
  height: 80px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
}

header .container-fluid .pull-left {
  float: left;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

header .container-fluid .logo {
  margin-right: 10px;
}

header .container-fluid .logo img {
  width: 150px;
}

header .container-fluid .pull-right {
  float: right;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

header .container-fluid .search input {
  padding: 5px 5px 5px 10px;
  border: 1px solid #dfdfdf;
  border-right: 0;
  border-radius: 25px 0 0 25px;
  margin: 0;
  width: 150px;
}

header .container-fluid .search input:focus {
  outline: none !important;
}

header .container-fluid .login a {
  background: red;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
}

header .container-fluid .login a:hover {
  background: blue;
}

header .container-fluid .search-button {
  border: 1px solid #dfdfdf;
  border-left: 0;
  padding: 5px 10px 5px 0;
  margin: 0;
  border-radius: 0 25px 25px 0;
  background: #fff;
}

header .container-fluid .pull-left div,
header .container-fluid .pull-right div {
  display: inline-block;
}

.slider {
  margin-top: -10px;
  z-index: -1;
  padding: 10px 0 0 0;
}

/* Overlay Bootstrap Control */
.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

/* Container Section */
.container-head {
  font-size: 20px;
  font-weight: 500;
}

/* Custom */
.nowrap {
  white-space: nowrap;
}

.nobg {
  background: transparent !important;
}

.row-nomx {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  .sm-absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
  }
}

.absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}

/* Section Rilisan Komik */
#releases {
  background: #F44336;
  color: #fff;
}

#releases .releases-container {
  background: #fff;
  display: inline-block;
  margin: 3px;
  border-radius: 5px;
}

#releases .releases-container .releases-image {
  margin: 0 auto;
}

#releases .releases-container .releases-image img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

#releases .releases-container .releases-head-title {
  color: #191919;
}

#releases .releases-container .releases-body button {
  width: 100%;
  border: 0;
  padding: 2px 0;
}

#releases .releases-container .fa-arrow-circle-right {
  font-size: 40px;
}

/* Section Login */
#login-box {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

/* Form Container Component */
.form-container {
    font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-container .height-350 {
    height: 350px;
}

.form-container .scroll-div {
    overflow-y: auto;
}

.form-container input:not(.checkbox-type),
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    border-radius: 0 !important;
    border: 0;
    border-bottom: 1px solid #000;
}

.form-container textarea {
    resize: none;
}

@media (min-height: 565px) {
    .form-container textarea {
        height: 100%;
        min-height: 160px;
    }
}

.form-container select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-size: contain;
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    appearance: none;
}

.form-container select:focus {
    background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

.form-container:not(:first-child) {
    margin-top: 10px;
}

.form-container .contain-textarea {
    height: 65%;
}

.form-container:not(.summernote-editor):last-child button,
.form-container:not(.summernote-editor) .form-container-content:not(.table-container) button {
    width: 100%;
    padding: 10px;
    border: 0;
    color: #191919;
    margin-top: 10px;
    background: #F44336;
    border-radius: 5px;
    color: #fff;
}

.form-container button:hover {
  background: #00bcd4 !important;
  cursor: pointer;
}

.form-container-head {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

.form-container-head small {
    font-weight: normal;
}

.form-container-content {
  position: relative;
}

.form-container-content .thumb-square {
    width: 200px;
    height: 200px;
}

.form-container-content .uploader {
  background-size: cover;
  background-position: center center;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  // padding: 10px;
  min-height: 230px;
}

.no-full input[type="file"] {
    width: 300px !important;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

.up-message-center .ion {
    font-size: 100px;
}
.up-message-center div:last-child{
    margin-top: 10px;
}

.up-message-center input {
    margin: 0 auto;
    padding: 10px;
    background: #fff;
}

/* Section Popularitas Berdasarkan Genre */
#popular {
  color: #191919;
}

#popular .square:not(:first-child):not(:last-child) {
  display: inline-block;
}

#popular .square:first-child {
  display: inline-block;
}

#popular .square:last-child {
  display: inline-block;
}

#popular .square-begin {
  background: #42a5f5;
  vertical-align: top;
}

#popular .square-begin .square-title {
  margin: 10px;
  font-size: 20px;
}

#popular .square-begin .square-desc {
  margin: 10px;
  word-wrap: break-word;
  font-size: 14px;
}

#popular .square {
  position: relative;
  cursor: pointer;
  background-color: #42a5f5;
  margin: 0;
}

#popular .hideable {
  display: none;
  transition: 0.5s;
}

#popular .square text {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 10px;
}

#popular .square text p {
  margin-bottom: 0;
}

#popular .square img {
  width: 100%;
}

@media (min-width: 992px) {
  #popular .extra {
    display: inline-block !important;
  }

  #popular .square:not(:first-child):not(:last-child) {
    display: inline-block;
    margin: 10px 5px;
  }

  #popular .square:first-child {
    display: inline-block;
    margin: 10px 5px 10px 0;
  }

  #popular .square:last-child {
    display: inline-block;
    margin: 10px 0 10px 5px;
  }
}

@media (max-width: 991px) {
  #popular .extra {
    display: none !important;
  }

  #popular .square {
    /* display: inline-block; */
    margin-top: 10px;
    height: 521px;
  }

  #popular .second-begin {
    margin-top: 50px;
  }
}

/* Attributies Releases */
#attrib {
  background: #cfd8dc;
  padding: 10px;
}

#attrib .col {
  text-align: center;
}

/* Comic Chapter Preview */
.comic-title-container {
  padding: 20px 0 100px 0;
  background-size: cover;
  color: white;
}

.comic-title-container .comic-title {
  font-size: 40px;
  font-weight: 100;
}

.comic-title-container .comic-creator {
  font-size: 15px;
}

.comic-title-container .comic-genre {
  margin-top: 10px;
}

.comic-title-container .comic-genre a {
  background: rgba(100, 100, 100, 0.5);
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}

.comic-episodes-container {
  background: white;
  margin-top: -60px;
  padding: 10px 20px;
}

.comic-episodes-container .comic-episodes-thumb img {
  width: 100%;
}

.comic-episodes-container .comic-episodes:not(:last-child) {
  border-bottom: 1px solid #eceff1;
}

.comic-episodes-container .comic-episodes {
  padding: 5px 0;
}

.comic-episodes-container .comic-episodes-title {
  padding: 0 !important;
}

.comic-episodes-container .comic-episodes-timestamp {
  font-size: 13px;
  color: grey;
}

.comic-episodes-container .comic-epsiodes-title,
.comic-episodes-container .comic-episodes-timestamp {
  position: relative;
}

.comic-episodes-container .comic-episodes-title p,
.comic-episodes-container .comic-episodes-timestamp .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.comic-episodes-container .comic-episodes-timestamp .row p {
  position: absolute;
}

.comic-episodes-container .comic-episodes-title p {
  font-size: 17px;
}

.comic-episodes-container .comic-episodes-title a {
  color: #000;
}

.comic-episodes-container .comic-episodes-title a:hover {
  color: #007bff;
  text-decoration: none;
}

.comics-recommendation {
  margin-top: 20px;
}

.comics-recommendation-body {
  background: white;
}

.comics-recommendation-body img {
  width: 100%;
}

.comic-sidebar .rating {
  font-size: 20px;
}

.fa-star {
  color: #00c853;
}

.comic-sidebar .short-desc {
  margin: 20px 0;
  font-size: 15px;
}

.comic-sidebar .first-ep button{
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 40px;
  background: #ef5350;
  color: white;
  position: relative;
}

.comic-sidebar .first-ep button:hover {
  cursor: pointer;
}

.comic-sidebar .first-ep button span{
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.comics-recommendation .comics-recommendation-title {
  font-size: 15px;
}
